{
    "presets": [
        [
            "@babel/preset-env",
            {
				"shippedProposals": true
            }
        ]
    ],
	"plugins": [
		[
			"@babel/plugin-transform-typescript",
			{
				"regenerator": true
			}
		]
	],
	"compact": true,
	"minified": true,
	"sourceMaps": true
}